<div class="col-md-6 container">
  <table class="table table-hover">
    <tr>
      <th>#</th>
      <th>Task</th>
      <th></th>
    </tr>
    <tr *ngFor="let task of tasks | async; let i = index" [attr.data-index]="i">
      <td>{{i + 1}}</td>
      <td>{{task.description}}</td>
      <td>
        <button class="btn btn-success btn-sm" (click)="edit(task)">
          edit
        </button>

        <button class="btn btn-danger btn-sm" (click)="deleteTask(task)">
          remove
        </button>
      </td>
    </tr>
  </table>
</div>

<div class="col-md-6 container">
  <form #f="ngForm">
    <div class="form-group">
      <input [(ngModel)]="myTask" name="myTask" #description="ngModel" type="text" class="form-control" placeholder="Enter Task Description" required>
      <div [hidden]="description.valid || description.pristine"  class="alert alert-danger">
        Description is required
      </div>
    </div>

    

    <div class="form-group">
      <button class="btn btn-primary" [disabled]="!f.valid" (click)="saveTask()">
        Save Task
      </button>
    </div>

  </form>
</div>
